################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Obj/Debug
/.vs/CtpMdApiWrapper
/Bin/Debug
/CtpMdApiWrapper.vcxproj.user
/CtpMdApiWrapper.vcxproj.user
